.lists-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list {
  box-shadow: 0 0 5px gray;
  padding: 0.5rem;
  margin: 1rem;
  width: 20rem;
  height: 25rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: green;
  padding: 8px;
  margin: 5px;
  cursor: pointer;
  color: white;
}

li:hover {
  background-color: darkgreen;
}

.list2 li {
  background-color: blue;
}

.list2 li:hover {
  background-color: darkblue;
}
